.section-form{
    height: fit-content;
}
.form-experiencia {
    width: 90vw;
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: rgba(150, 150, 150, .6);
    padding: 1rem;
    gap: .25rem
}

.form-experiencia h2 {
    text-align: center;
    font-size: 1.5rem;
}
.form-experiencia .experiencia-fecha{
    display: grid;
    grid-template-columns: 110px 1fr;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    padding: 0 5px;
    background-color: var(--colortransparencia);
    border-radius: 5px;
}



.form-contacto label {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: var(--colortransparencia);
    border-radius: 5px;
    padding: 0 1rem;
}

#input-descripcion {
    background-color: rgba(250, 250, 250, 0.4);
    padding: 5px;
    resize: none;
    border: none;
    color: var(--colorprincipal);
    border-radius: 5px;
}

#input-responsabilidad {
    width: 100%;
}

.form-control{
    display: flex;
    align-items: center;
}
    .form-control svg{
        transform: rotateZ(45deg);
        color: white;
        background-color: red;
        font-size: 1.5rem;
        width: 22px;
        height: 22px;
        padding: .15rem;
        cursor: pointer;
        border-radius: 50%;
        margin-left: .5rem;
    }

.btn-add {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: none;
    background-color: rgba(250, 250, 250, 0.4);
    border-radius: 50%;
    color: white;
    font-size: 2rem;
    cursor: pointer;
}

.btn-add svg {
    padding: .15rem;
}

#submit-usuario{
    width: fit-content;
    margin: 1rem auto auto auto;
    border : none;
    border-radius: 5px;
    cursor: pointer;
}