@font-face {
	font-family: montserrat;
	src: url('../font/Montserrat-Medium.ttf')
	}

:root{
    --colorprincipal: rgba(27, 26, 26, 1);
    --colortransparencia: rgba(250, 250, 250, 0.4);

    
    --textotitulo: clamp(1.4rem, 3vw, 2rem);
    --textosubtitulo: clamp(1.2rem, 2vw, 1.4rem);
    --textoparrafo: clamp(1rem, 2vw, 1.2rem);
    --textoreducido: clamp(.75rem, 1.75vw, 1rem);
    --imagenesparrafo: clamp(2.5rem, 3vw, 6rem);
}

body {
    font-family: montserrat;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    background: rgb(255, 164, 5);
    background: linear-gradient(324deg, rgba(255, 164, 5, 1) 0%, rgba(26, 251, 252, 1) 100%);
  }
  
  #app {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr;
  }