/* DESPLEGABLE INFO */

.main-desplegable-background {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    background-color: var(--colortransparencia);
    backdrop-filter: blur(3px);
    overflow-y: hidden;
    z-index: 2;
}

.desplegable-info {
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    gap:  1rem 2rem;
    height: fit-content;
    width: fit-content;
    max-width: 90%;
    background-color: var(--color-secondary-text);
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 4px 4px 10px gray;
    overflow: hidden;
}

.cerrar-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    top: 0;
    right: 0;
    font-size: 2.2rem;
    cursor: pointer;

}

.desplegable-info h3 {
    grid-column: 1 / 3;
    font-size: 2rem;
    line-height: 2rem;
    width: calc(100% - 40px);
}


/* Informacion proyecto */
.modulo-informacion-proyecto{
    display: grid;
    grid-template-columns: auto;
    max-width: 650px;
}
.modulo-informacion-proyecto .informacion-proyecto-selector{
    display: flex;
    width: 100%;
    gap: .5rem;  
}

/* Botones mini-menu */
    .modulo-informacion-proyecto .informacion-proyecto-selector .proyecto-selector-btn{
        text-decoration: none;
        color: var(--color-primary-text);
        width: 100%;
        background-color: var(--colormenu);
        padding: .5rem;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        font-size: 1.2rem;
        text-align: center;
    }
    .modulo-informacion-proyecto .btn-proyecto-info{
        display: grid;
        grid-template-columns:  auto auto;
        gap: 2rem;
        justify-content: center;
    }

    .desplegable-info .btn-proyecto-info .btn-visitar{
        display: flex;
        justify-content: center;
        align-items: center;
        justify-self: center;
        width: 150px;
        height: fit-content;
        margin: 1rem auto;
        text-decoration: none;
        padding: .25rem 1rem;
        border-radius: 3px;
        border: 1px solid black;
        color: black;
        cursor: pointer;
        background-color: white;
        box-shadow: 1px 1px 4px gray;
    }
    
    
    .desplegable-info .btn-proyecto-info .btn-visitar:hover {
        animation: bounce-7 2.4s infinite;
    }

/* Tablas de datos */

    .modulo-informacion-proyecto .informacion-proyecto{
        padding: 1rem;
        background-color: var(--colormenu);
        font-size: 1.2rem;
        height: 656px;
        width: 100%;
        overflow-x: hidden; 
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

.desplegable-info p {
    width: 100%;
    text-align: justify;
}
@keyframes bounce-7 {
    0% {
        transform: scale(1, 1)
    }

    10% {
        transform: scale(1.1, .9)
    }

    30% {
        transform: scale(.9, 1.1);
    }

    50% {
        transform: scale(1.05, .95)
    }

    57% {
        transform: scale(1, 1);
    }

    64% {
        transform: scale(1, 1)
    }

    100% {
        transform: scale(1, 1)
    }
}

@media screen and (max-width: 1350px) {
    .modulo-informacion-proyecto .informacion-proyecto{
        height: 456px;
    }
    
}
@media screen and (max-width: 1080px) {
    .desplegable-info{
        grid-template-columns: auto;
        grid-template-rows: auto auto auto 1fr;
        width: 90vw;
        height: 90vh;
        overflow: scroll;
        overflow-x: hidden;
    }
    .desplegable-info h3{
        grid-column: auto;
    }

    .proyecto-carrousel{
        grid-row: 2 / 3;
    }
    .modulo-informacion-proyecto{
        max-width: 100%;
    }
    .modulo-informacion-proyecto .informacion-proyecto{
        height: auto;
    }
    .modulo-informacion-proyecto .btn-proyecto-info{
        grid-row: 1 / 2;
    }  
}

@media screen and (max-width: 550px) {
    .desplegable-info{
        width: 100%;
        max-width: 95%;
        padding: .5rem;
        grid-template-rows: auto auto auto 1fr;
    }
    .modulo-informacion-proyecto .informacion-proyecto-selector{
        font-size: 1rem;
    }
    .cerrar-btn {
        margin: .5rem;
    }
    .modulo-informacion-proyecto .informacion-proyecto{
        width: 100%;
        font-size: 1.1rem;
    }
    .desplegable-info .btn-proyecto-info{
        width: 100%;
        gap: .5rem;
    }
    .desplegable-info .btn-proyecto-info .btn-visitar{
        width: fit-content;
    }
    .modulo-informacion-proyecto .informacion-proyecto-selector .proyecto-selector-btn{
        padding: .25rem;
        font-size: 1rem;
    }

}

