@media screen and (max-width: 1080px) {
    .navegador-componente{
        height: 65px;
        width: 65px;
    }
    .header{
        height: 65px;
        overflow: hidden;
        z-index: 999;
        transition: background-color .3s linear;
    }
    .navigation-index li button {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        margin: .5rem;
        width: 50px;
        height: 50px;
        color: white;
        background-color: var(--colormenu);
        border-radius: 5px;
        backdrop-filter: blur(4px);
        cursor: pointer;
        border: none;
        z-index: 999;
        transition: all .3s linear;
    }
    .navigation-index li button:focus{
        outline: none;
    }
    .navegation-menu{
       display: none;
    }
    .main-menu-subfooter{
        display: none;
    }

    /* Menu mobil expandido */
    .expanded-movile-menu{
        position: fixed;
        display: grid;
        grid-template-rows: 1fr auto;
        width: 100vw;
        height: 100vh;
        background-color: rgb(255, 164, 5);
        background: var(--color-background);
        transition: all .3s linear;
    }

    /* Boton de inicio */
    .expanded-movile-menu .main-menu-section .navigation-index {
        width: 100vw;
        height: fit-content;
    }
/* Boton MENU */
.expanded-movile-menu .navigation-index li button {
    position: relative;
}

    /* Menu navegacion */
    .expanded-movile-menu .main-menu-section .navegation-menu{
        display: block;
        opacity: 1;
        width: calc(100% - 1rem);
        height: fit-content;
        max-width: 900px;
        margin: auto;
        border-radius: 5px;
        overflow: hidden;
        transition: all .3s linear;
    }
   
    .expanded-movile-menu .main-menu-section .navegation-menu li{
        width: 100%;
        margin: auto;   
    }
    .expanded-movile-menu .main-menu-section .navegation-menu li a {
        display: flex;
        justify-content: center;
        font-size: 1.3rem;
        color: white;
        width: 100%;
        margin: auto;
        padding: .5rem;
        margin: .25rem 0;
        text-decoration: none;
        background-color: var(--colormenu);
        border-radius: 5px;
        transition: all .3s linear;
    }
    .expanded-movile-menu .main-menu-section .navegation-menu li .router-link-exact-active{
        background-color: rgba(184, 64, 94, .8);
    }

/*  Menu Footer */
.expanded-movile-menu .main-menu-subfooter {
    display: grid;
    grid-template-rows: auto auto;
    width: 100%;
    margin: auto;
}

.expanded-movile-menu .main-menu-subfooter .navegation-social {
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
    gap: 1rem;
    margin: auto;
    padding-bottom: 2.5rem;
}

.expanded-movile-menu .main-menu-subfooter .navegation-social li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: .25rem;
    font-size: 2.5rem;
    color: white;
    background-color: var(--colormenu);
    border-radius: 5px;
    transition: all .3s linear;
}

/* toggle dark-mode */

.toggle-dark-mode-nav{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    transition: all .5s linear;
}
    .toggle-dark-mode-nav li{
        width: 60px;
        height: 48px;
        margin: 20px;
    }
}

@media screen and (min-width:1081px) {


    .header {
        width: 100%;
        height: 88px;
        transition: all .3s linear;
        z-index: 2;
    }

    .main-menu-section {
        position: fixed;
        width: calc(100% - 40px);
        margin: 20px;
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 10px;
        z-index: 2;
        user-select: none;
    }

    .main-menu-section ul {
        display: flex;
        flex-direction: row;
        border-radius: 5px;
        overflow: hidden;
    }

    .main-menu-section ul li a {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: white;
        width: 100%;
        height: 100%;
        font-size: var(--textoparrafo);
        padding: 10px 0;
        background-color: var(--colormenu);
        backdrop-filter: blur(4px);
        transition: background-color .3s linear;
    }

    /* Boton principal menu */
    .main-menu-section .navigation-index li button {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: white;
        width: 58px;
        height: 58px;
        font-size: var(--textoparrafo);
        background-color: var(--colormenu);
        backdrop-filter: blur(4px);
        font-size: 2rem;
        border: none;
        padding: .5rem 1rem;
        border-radius: 5px;
        cursor: pointer;
        transition: all .3s linear;
    }
    .main-menu-section .navigation-index li button:focus{
        outline: none;
    }

    /* Menu navegación */
    .main-menu-section .navegation-menu {
        transition: transform .5s linear;
    }

    .main-menu-section .navegation-menu li {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .main-menu-section .navegation-menu li a:hover {
        background-color: var(--colormenu-hover);
    }

    .main-menu-section ul li .router-link-exact-active {
        background-color: var(--colormenu-active);
    }

    .main-menu-section ul li .router-link-exact-active:hover {
        background-color: var(--colormenu-active);
    }

    /* SUB-FOOTER SOCIAL MEDIA */

    .main-menu-subfooter .navegation-social {
        display: grid;
        width: fit-content;
        grid-template-columns: repeat(3, auto);
        position: fixed;
        bottom: 0;
        gap: .5rem;
        margin: 20px;
        transition: transform .5s linear;

    }

    .main-menu-subfooter .navegation-social li {
        width: 60px;
        height: 48px;
    }

    .main-menu-subfooter .navegation-social li a {
        display: flex;
        font-size: var(--textoparrafo);
        justify-content: center;
        align-items: center;
        background-color: var(--colormenu);
        backdrop-filter: blur(4px);
        transition: background-color .2s linear;
        font-size: 2.2rem;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        color: white;
        text-decoration: none;
    }

    .main-menu-subfooter .navegation-social li a:hover {
        background-color: var(--colormenu-hover);
    }
    /* toggle dark mode */
    .toggle-dark-mode-nav{
        position: fixed;
        display: grid;
        bottom: 20px;
        right: 20px;
        margin: 20px;
        transition: all .5s linear;
    }
        .toggle-dark-mode-nav li{
            width: 60px;
            height: 48px;
        }
        
/* boton menu  */
.expanded-movile-menu .main-menu-section{
    grid-template-columns: 1fr;
    width: 60px;
}
.expanded-movile-menu .navegation-menu{
    position: fixed;
    width: calc(100% - 60px);
}
    .expanded-movile-menu .navegation-menu{
        transform: translateX( 200%);
    }
.expanded-movile-menu .navegation-social{
    transform: translateX(-400%);
}
.expanded-movile-menu .toggle-dark-mode-nav{
    transform: translateX(400%);
}

}