.aboutme-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 400px;
    max-width: 600px;
    margin: auto;
    padding: 2rem;
  }
  
  .aboutme-card h2 {
    padding: 1rem 0;
    font-size: 2.6rem;
    line-height: 2.6rem;
    text-align: left;
  }
  
  .aboutme-card p {
    padding: 1rem 0;
    font-size: var(--textoparrafo);
  }
  
  .aboutme-card a {
    width: fit-content;
    margin: 1rem 0;
    text-decoration: none;
    padding: 0.25rem 1rem;
    border-radius: 3px;
    border: 1px solid black;
    color: black;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: white;
    box-shadow: 1px 1px 4px gray;
  }
  .aboutme-card a:hover{
      animation: bounce-7 2.4s infinite;
  }
  @keyframes bounce-7 {
          0%   { transform: scale(1,1)}
          10%  { transform: scale(1.1,.9)}
          30%  { transform: scale(.9,1.1); }
          50%  { transform: scale(1.05,.95)}
          57%  { transform: scale(1,1);}
          64%  { transform: scale(1,1)}
          100% { transform: scale(1,1)}
      }
  
  .aboutme-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem;
  }
  
  @media screen and (max-width: 1080px) {
    .aboutme-card {
      width: 95%;
      max-width: 600px;
      min-width: auto;
      padding: 0.5rem;
      margin: auto;
    }

    .aboutme-card p, .aboutme-card h2{
      padding: .25rem 0;
    }

    .aboutme-card a{
      margin: 1rem auto auto auto;
      font-size: 1.1rem;
    }
    }