.titulo-inicio {
    width: max-content;
    user-select: none;
    overflow: hidden;
}
.letter {
    display: inline-block;
    font-size: clamp(2.5rem, 15vw, 5rem);
    font-weight: 900;
    border: 2px solid var(--color-primary-text);
    color: var(--color-primary-text);
    border-radius: 5px;
    margin: .2rem;
    padding: .3rem;
    opacity: 0;
    transition: opacity 1.5s linear;
}

.signo {
    display: inline-block;
    font-size: clamp(5rem, 4vw, 7rem);
    color: var(--color-primary-text);
    opacity: 0;
    transition: opacity 1.5s linear;

}

.imagen-titulo {
    margin: auto;
    user-select: none;
}

.animacion {
    animation: flipAnimacion .7s linear;
}

.display {
    opacity: 1;
    animation: flipAnimacion .35s linear;
}

@keyframes flipAnimacion {
    from{
        transform: rotateY(180deg);
    }
    to {
        transform: rotateY(360deg)
    }
}

@media screen and (max-width:1250px) {

    
    .titulo-inicio .letter,
    .titulo-inicio .signo {
        font-size: clamp(2rem, 7vw, 5rem);
    }
}

@media screen  and (max-width: 500px){
    
    .titulo-inicio .letter{
        border: 1px solid white;
        font-size: clamp(2rem, 9vw, 5rem);
        padding: .1rem;
        margin: .1rem;
    }

}