.titulo-inicio {
    width: max-content;
    user-select: none;
    overflow: hidden;
}
.letter {
    display: inline-block;
    font-size: clamp(2.5rem, 15vw, 5rem);
    font-weight: 900;
    border: 2px solid black;
    border-radius: 5px;
    margin: .2rem;
    padding: .3rem;
}

.signo {
    display: inline-block;
    font-size: clamp(5rem, 4vw, 7rem);

}

.imagen-titulo {
    margin: auto;
    user-select: none;
}

.animacion {
    transform: rotateX(3deg);
    animation: flipAnimacion 1s linear;
}

@keyframes flipAnimacion {
    0% {
        transform: rotateY(0deg);
    }



    50% {
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(0deg)
    }
}

@media screen and (max-width:1250px) {

    
    .titulo-inicio .letter,
    .titulo-inicio .signo {
        font-size: clamp(2rem, 7vw, 5rem);
    }
}

@media screen  and (max-width: 500px){
    
    .titulo-inicio .letter{
        font-size: clamp(2rem, 9vw, 5rem);
        padding: .1rem;
        margin: .1rem;
    }

}