.skeleton-proyectos {
    width: 90%;
    max-width: fit-content;
    margin: auto;
    border-radius: 5px;
    display: grid;
    justify-content: center;
    gap: 10px;
    padding: 2rem;
    grid-template-columns: repeat(3, minmax(300px, 387px));
    background-color: var(--colortransparencia)
}

.skeleton-proyectos .proyectos-informacion {
    grid-row: 1 / 3;
    padding: 1.5rem 1rem;
}

.skeleton-proyectos .block-proyecto {
    padding: 1.5rem 1rem;
}

.skeleton-proyectos .block-proyecto:nth-child(4) {
    grid-row: span 2;
}

.skeleton-proyectos .skeleton-text {
    height: .9rem;
}

@media screen and (max-width: 1110px) {
    .skeleton-proyectos{
        max-width: 90%;
        grid-template-columns: repeat(2, minmax(200px, 1fr));
    }

}

@media screen and (max-width: 762px) {
    .skeleton-proyectos{
        width: 100%;
        margin: auto;
        padding: 0;
        grid-template-columns: 1fr;
    }

    .skeleton-circle {
        width: 250px;
        height: 250px;
    }

}