.about-me-section {
    width: 100%;
    min-height: calc(100vh - 88px);
    display: grid;
    grid-template-rows: 1fr auto;
}
.about-me-info {
    margin: auto;
    width: 90%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

@media screen and (max-width: 1080px) { 
    .about-me-info{
        width: 100%;
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 600px) {
    .about-me-section{
        justify-content: center;
    }
}