.section-inicio {
    width: 95vw;
    max-width: 1300px;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto;
    overflow: hidden;
  }
  @media screen and (max-width: 1250px) {
    .section-inicio {
      grid-template-columns: auto;
      gap: 2rem;
    }
    .section-inicio .titulo-inicio{
      margin: auto;
    }
    .section-inicio .section-image{
      max-width: 500px;
    }
    @media screen and (max-width: 1080px) {
      .section-inicio{
        margin: 1rem auto 0 auto;
      };
      .section-inicio .section-image img{
        padding: .25rem;
      }
      
    }
  }